@reference "../app.css";

.listWrapper{
    @apply justify-center items-center mx-auto w-[90%]
}

.listRow {
  @apply flex text-base text-gray-800 bg-zinc-50 py-2 mb-3 items-center
         border border-gray-200 rounded p-3 pr-6;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.03);  

}

.listRow:hover {
  @apply bg-zinc-100 transition border-gray-200;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.listHeader {
  @apply flex
         text-lg text-white  my-3 font-semibold
         border border-gray-300 rounded py-3.5 pr-6;

  background-color: #11202C;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.02);
}

.listColumn{
    text-align: left;
    flex: 1 1 0;
}

.listColumn.avatar {
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listColumn.name{
    flex: 1;
}

.listColumn.email{
    flex: 3;
}

.listColumn.button{
    flex: 0.5;
    text-align: center
}

.profileAvatar {
  @apply w-13 h-13 rounded-full bg-[#28ebd1] flex items-center justify-center text-[#11202C] font-bold text-sm;
}
