@reference "tailwindcss";

.sidebarTitle {
  @apply font-semibold text-xl mb-6 pl-2;
  color: #ffffff;
}

.sidebar {
  @apply h-screen p-5 pt-8 flex flex-col justify-between min-w-90;
  background-color: #11202C;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.menuList {
  @apply flex flex-col pl-2;
}

.menuItem {
  @apply flex flex-col rounded-md py-3 px-4 cursor-pointer transition-all;
  background-color: #11202C;
  color: #ffffff;
}

.menuItem:hover {
  background-color: #172b3b;
}

.chevron {
  @apply text-xs;
  color: #EFEFEF;
}

.subMenuList {
  @apply pl-4 pt-2;
  color: rgb(202, 213, 223);
}

.subMenuItem {
  @apply text-sm py-2 px-2 rounded-lg transition-colors;
}

.subMenuItem:hover {
  background-color: #11202C;
}

.profileContainer {
  @apply flex flex-col w-full mt-auto gap-3 pl-2;
}

.profileSection {
  @apply flex items-center gap-4;
}

.profileAvatar {
  @apply w-14 h-14 rounded-full bg-[#28ebd1] flex items-center justify-center text-[#11202C] font-bold text-lg;
}

.profileInfo {
  @apply flex flex-col text-white text-sm;
}

.profileName {
  @apply font-semibold text-lg text-white;
}

.profileEmail {
  @apply px-1 text-base text-gray-300;
}