@import "tailwindcss";


html,

body {
  @apply bg-white;
  color-scheme: light;
  background-color: #EFEFEF;
}


.btn-primary {
  @apply py-1.5 mt-2 text-sm  text-zinc-50 bg-[#1a2c3b] hover:bg-[#2a3b4c] rounded transition px-4 cursor-pointer;
  min-width: 120px; 
  width: auto;
}

.btn-secondary {
  @apply py-1.5 mt-2 text-sm  rounded transition px-4 cursor-pointer border-1;
  color: #1a2c3b;
  border-color: #2a3b4c;
  background-color:transparent;
  min-width: 120px; 
  width: auto;
}

.btn-secondary:hover {
  @apply py-1.5 mt-2 text-zinc-50 rounded transition px-4 cursor-pointer border-1;
  background-color: #2a3b4c;
  border-color: #2a3b4c;
  min-width: 120px; 
  width: auto;
}

.btn-trietery{
  @apply py-1.5 mt-2 text-sm text-zinc-600  rounded transition px-4 cursor-pointer underline;
  background-color:transparent;
  min-width: 110px; 
  width: auto;
}

.btn-edit{
  @apply py-1.5 mt-2 text-sm  rounded transition px-4 cursor-pointer underline;
  color: #007da3;
  background-color:transparent;
  min-width: 110px; 
  width: auto;
}


.btn-delete{
  @apply py-1.5 mt-2 text-sm  rounded transition px-4 cursor-pointer underline;
  color: #e43636;
  background-color:transparent;
  min-width: 110px;  
  width: auto;
}

.btn-cancel {
  @apply py-1.5 mt-2 text-sm rounded transition px-4 cursor-pointer border-1;
  color: #e72c29;
  background-color:transparent;
  border-color: #fd4542;
  min-width: 120px; 
  width: auto;
}

.btn-cancel:hover {
  @apply py-1.5 mt-2 text-sm text-zinc-50  rounded transition px-4 cursor-pointer border-1;
  background-color:#e72c29;
  border-color: #fd4542;
  min-width: 120px; 
  width: auto;
}

.btn-logout {
  @apply w-full py-2 mt-2 text-zinc-50 bg-[#1a2c3b] hover:bg-[#2a3b4c] rounded transition cursor-pointer;
}

.btn-new {
  @apply py-1 m-1.5 text-zinc-50 bg-[#1a2c3b] hover:bg-[#2a3b4c] rounded transition cursor-pointer px-5 ml-auto;
  min-width: 120px; 
}

.listWrapper {
  @apply h-full max-h-screen overflow-y-auto;
  overflow: visible;
}


.h1 {
  @apply font-semibold text-3xl mb-2 w-full;
}

.tableHeader {
  @apply grid items-center text-zinc-50  border border-gray-300;
  grid-template-columns:  0.34fr 1.39fr 3fr 1fr;
  background-color: #11202C;
  padding: 0.75rem 1rem;
  /* border: 1px solid #000000;  */
  padding:5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.02);
}