@import "tailwindcss";


html,

body {
  color-scheme: light;
  background-color: #f1f1f1;
  font-size: 17px;
}

.btn-primary {
  @apply bg-[#28ebd1] py-2 cursor-pointer text-[#11202C] font-semibold
        rounded hover:bg-[#1fa49e] focus:outline-none transition;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.02);
}

.btn-secondary {
  @apply w-full h-full py-2 mt-2 text-zinc-50 bg-[#1a2c3b] hover:bg-[#2a3b4c] rounded transition cursor-pointer;
}


.btn-delete {
  @apply w-full py-1.5 mt-2 text-zinc-50 rounded transition border-1 ;
  background-color:#f03f3c;
  min-width: 120px; 
  width: auto;
}

.btn-delete:hover {
  @apply py-1.5 mt-2 text-zinc-50 rounded transition px-4 cursor-pointer border-1 ;
  background-color:#da2a27;
  min-width: 120px; 
  width: auto;
}

.btn-details{
  @apply py-1.5 mt-2 text-sm text-zinc-600  rounded transition px-4 cursor-pointer underline;
  background-color:transparent;
  min-width: 110px; 
  width: auto;
}

.page-title {
  @apply font-semibold text-3xl mb-2 w-full;
}

.page-wrapper{
    @apply justify-center items-center mx-auto w-[90%]
}